<launch>
  <arg name="tf_prefix"/>
  <arg name="uri_drone"/>
  <arg name="WayPoint" default = "WayPoint1"/>
  <arg name="TimeWayPoint" default = "TimeWayPoint1"/>

  <group ns="$(arg tf_prefix)">

  <!-- Start MoCap Node -->
  <node name="mocap_node"
        pkg="mocap_node"
        type="drone_mocap.py"
        args="$(arg tf_prefix)"
        output="screen"
  />

  <!-- Load Controller Gains & Settings-->
  <rosparam command="load"
            file="$(find drone_controller)/gains/$(arg tf_prefix)_gains_pid.yaml"
  />
  <rosparam command="load"
            file="$(find drone_controller)/gains/$(arg tf_prefix)_params_controller.yaml"
  />

  <!-- Start Trajectory Generator 
  <node name="trajectory_generator"
        pkg="trajectory_generator"
        type="TrajectoryGenerator.py"
        args="$(arg WayPoint) $(arg TimeWayPoint) $(arg tf_prefix)"
  />
  -->

  <!-- Add drone to the crazyflie server -->
  <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="uri" value="$(arg uri_drone)" />
  </include>

  <!-- Start Controller Node -->
  <node name="drone_controller"
        pkg="drone_controller"
        type="controller_pid_waypoints.py"
        args="$(arg tf_prefix)"
        output="screen"
  />

  </group>

</launch>
